flake8>=3.8.4
imutils==0.5.3
jupyter>=1.0.0
matplotlib==2.2.2;python_version <= '2.7'
matplotlib>=2.2.2;python_version > '2.7'
numpy==1.16.0;python_version <= '2.7'
numpy>=1.16.5;python_version > '2.7'
opencv-contrib-python==4.2.0.32;python_version <= '2.7'
opencv-contrib-python==4.5.1.48;python_version > '2.7'
pytest==4.6.7;python_version <= '2.7'
pytest>=5.3.2;python_version > '2.7'
PyYAML>=5.0.0
scikit-image==0.14.5;python_version <= '2.7'
scikit-image==0.18.1;python_version > '2.7'
scikit-learn==0.20.4;python_version <= '2.7'
scikit-learn==0.24.0;python_version > '2.7'
scipy==1.2.3;python_version <= '2.7'
scipy==1.6.0;python_version > '2.7'
yapf==0.30.0
